* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner styles */
.banner-container {
    background-image: url(../images/banner/banner3.png);
    width: 125%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-items: auto;
    background-size: auto;
}

.banner-tittle {
    color: #FFFFFF;
    font-size: 65px;
    text-align: right;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

}

.banner-description {
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    margin-left: 20px;
}

/* button styles */
.btn {
    color: #005FAC;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}

/* main styles */

.main {
    margin: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.main-container {
    order: 3;
}

.main-tittle {
    color: #151414;
    font-size: 40px;
    line-height: 47px;
}

.main-description {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

.main-list {
    margin: 10px 0px;
    position: absolute;
    right: 20%;
    margin: 10px 0px;

}
ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    color: #16D887;
  }
  li{
    margin: 10px 0;
  }