* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* banner styles */
.banner-container {
    background-image: url(../images/banner/banner3.png);
    width: 125%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-items: auto;
    background-size: auto;
}

.banner-tittle {
    color: #FFFFFF;
    font-size: 65px;
    text-align: right;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;

}

.banner-description {
    color: #FFFFFF;
    font-size: 16px;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    margin-left: 20px;
}

/* button styles */
.btn {
    color: #005FAC;
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-size: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}

/* main styles */

.main {
    margin: 0 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.main-container {
    order: 3;
}

.main-tittle {
    color: #151414;
    font-size: 40px;
    line-height: 47px;
}

.main-description {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

/* list styles */
.main-list {
    margin: 10px 0px;
    position: absolute;
    right: 20%;
    margin: 10px 0px;

}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
    color: #16D887;
    margin: 0 10px;
}

li {
    margin: 10px 0;
}


/* skill styles */

.section-tittle {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 80px;

}

.skills-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 70px;
}

.skill-title {
    font-size: 30px;
    color: #151414;
    text-align: center;
    margin-top: 10px;
}

.skill-description {
    font-size: 25px;
    text-align: center;
    color: #737272;
    margin-top: 10px;

}

.img {
    display: flex;
    justify-content: center;
    margin: 0px 70px;
}

/* calling banner styles */
.calling-banner-tittle {
    text-align: left;
    margin-top: 100px;
}

/* footer */
.contact-section {
    background-color: #151414;
    position: absolute;
    width: 1600px;
    height: 577px;
    margin-top: 150px;
}

.contact-section {
    display: flex;
    justify-content: center;
    gap: 500px;
    margin: 50px 30px;
}

.future-title {
    color: #F8F8F8;
    font-size: 45px;
    margin-top: 200px;
    margin-right: 50px;

}

.images {
    display: flex;
    gap: 20px;
    margin-top: 20px;

}


.subscribe-title {
    color: #FFFFFF;
    margin-top: 200px;
    margin-bottom: 30px;
    font-size: 45px;


}

.future-description {
    color: #FFFFFF;
    font-size: 16px;
    margin: 10px 0;
}

.future-elements {
    color: #FFFFFF;
    font-size: 16px;
    margin: 10px 0;
}

.subscribe-button {
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    padding: 20px 36px;
    margin: 25px 0px;
    background: #005FAC;
    border-radius: 8px;
}
.email{
    color: #f3f3f3;
    font-size: 18px;
    border-radius: 5px;
    padding: 20px 40px;
    border-color: #FFFFFF;
    background-color: #151414;

}